aiodns==2.0.0
aiohttp==3.5.4
azure-common==1.1.23
azure-storage-blob==2.0.1
cchardet==2.1.4
flask-sqlalchemy==2.4.0
flask-login==0.4.1
hypercorn==0.6.0
itsdangerous==1.1.0
pytest==5.0.1
passlib==1.7.1
quart==0.9.1
requests==2.22.0
sqlalchemy==1.3.4